<%- include header %>
<form action="" method="post">
  标题：<br/>
  <input type="text" name="title" /><br />
  标签：<br />
  <input type="text" name="tag" /><br />
  <input type="text" name="tag" /><br />
  <a href="">+</a> <br />
  正文: <br/>
  <textarea name="post" id="" cols="100" rows="20"></textarea>
  <input type="submit" value="post">
 </form>
 <%- include admin.upload.ejs%>
 <%- include footer %>