<form action="/upload" enctype="multipart/form-data" method="post">
	<input type="file" name="postImg" />
	<input type="file" name="postImg" />
	<a href="">+</a>
	<input type="submit" value="UPLOAD" />
</form>